<ion-view view-title="{{gameData.name}}">
  <ion-content>

    <ion-list>
      <ion-item ng-repeat="player in playerList" ng-click="invitePlayer({{player.fbId}})">
        <h3>{{player.firstName}} {{player.lastName}}</h3>
      <img src="{{player.imageUrl}}">
      </ion-item>
    </ion-list>
    <p>{{gameData.currentQuestion}}</p>
     

        <label class="item item-input">
          <span class="input-label">Game Name</span>
          <input type="text" ng-model="gameObj.gameName">
        </label>
        <p>{{gameName}}</p>
          <label class="item item-input">
          <span class="input-label">Round Limit</span>
          <input type="text" ng-model="gameObj.roundLimit">
        </label>


        
        <label class="item">
          <button class="button button-block button-positive" ng-click="createGame()">Start Game</button>
        </label>
    <h1>Invited Players</h1>
    <ion-list>
      <ion-item ng-repeat="invitedPlayer in invitedPlayers">
        <h3>{{invitedPlayer.firstName}} {{invitedPlayer.lastName}}</h3> 
        <img src="{{invitedPlayer.imageUrl}}">
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
