<ion-view view-title="{{gameData.name}}">
  <ion-content>
    <h1>{{gameData.name}}</h1>
    <div class="card">
    <div class="item item-divider">
      <b>{{gameData.dealer}}</b> submitted a word:
    </div>
      <div class="item item-text-wrap">
        <h1>{{gameData.currentQuestion}}</h1>
        {{gameData.currentAnswer}}
      </div>
    </div>
    <div class="col col-75 col-offset-10">
      <button class="button button-balanced trueOrFalse">
        True
      </button><button class="button button-assertive trueOrFalse">
        False
      </button>
    </div>
  </ion-content>
</ion-view>
