<ion-view view-title="{{gameData.name}}">
  <ion-content>
    <div ng-show="isLoaded && isDealer()" dealer-view></div>

    <div class="card">
    <div class="item item-divider">
      <b>{{gameData.dealer}}</b> submitted a word:
    </div>
      <div class="item item-text-wrap">
        <h1>{{gameData.currentQuestion.word}}</h1>
        {{gameData.currentQuestion.definition}}
      </div>
    </div>
    <div class="col col-75 col-offset-10">
      <button class="button button-balanced trueOrFalse" ng-click="voteTrue()">
        True
      </button><button class="button button-assertive trueOrFalse" ng-click="voteFalse()">
        False
      </button>
    </div>
    <ion-list>
      <ion-item ng-repeat="invite in invitations">
        from {{invite.name}}<br>
        <button class="button button-balanced button-small">
          Join
        </button>
        <button class="button button-assertive button-small">
          Ignore
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
