<ion-view view-title="Lobby">
  <ion-content>
  <a href="#/app/create">
  <button class="button button-full button-positive">
    Create New Game
  </button>
  </a>
    <ion-list>
      <ion-item ng-repeat="game in games" href="#/app/games/{{game.name}}">
      <i class="icon ion-person-stalker"></i>
        {{game.name}}
        <span class="secondaryGameInfo pull-right">Round {{game.round}}</span>
      </ion-item>
      <ion-item ng-click="sendPost()">Send</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
