

<ion-view title="Login" id="welcome-view" hide-nav-bar="false">
    <ion-content>
        <div  class="logo-welcome"></div>
        <div class="login-btns">

            </div>
            <hr id="login-divider" />

        </div>
        <div>
          <label class="item">
          <button class="button button-block button-positive" ng-click="fbLogin()">Sign In With Facebook</button>
        </label>
        </div>

        <div>
          <label class="item">
          <button class="button button-block button-positive" ng-click="setCookie()">Set Cookie</button>
        </label>
        </div>

        <div>
          <label class="item">
          <button class="button button-block button-positive" ng-click="getCookie()">Get Cookie</button>
        </label>
        </div>

    </ion-content>
</ion-view>

